* {
  padding: 0;
  margin: 0;
}

.App {
  width: 70vw;
  height: 100vh;
  /* border: 1px solid red; */
  background-color: pink;
  margin: 0 auto;
  text-align: center;
}

.App .answer {
  display: none;
}

.App .answer.active {
  display: block;
}

.App button {
  font-size: 14px;
  margin: 8px;
  padding: 8px;
}

.App img {
  width: 70vw;
  display: block;
  text-align: center;
  margin: 0 auto;
  object-position: center center;
  object-fit: cover;
}